In [2]:
import pandas as pd
import numpy as np

In [3]:
#created a variable num to store all 10 numerical digits
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#Created a pandas series store the num variable
all_ten = pd.Series(num)

In [5]:
#Print the series
print(all_ten)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [6]:
#Convert series to list
ten_list = all_ten.values.tolist()

In [7]:
#Print List
print(ten_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
#Create dictionary
dict = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

In [9]:
#Create one-dimensional data
s_dict = pd.Series(dict)

In [10]:
#Print dictionary
print(s_dict)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [26]:
#Creating students data
students = ({
    'name' :["Anastasia", "Dima", "Katherine", "James", "Emily", "Michael", "Mathew", "Laura", "Kevin", " Jonas"] ,
    'score' :[12.5, 9.0,16.5,None,9.0,20.0,14.5,None ,8.0,19.0],
    'attempts' :[1,3,2,3,2,3,1,1,2,1],
    'qualify' :['yes','no','yes','no','no','yes','yes','no','no','yes']
})
#Converting data to dataframe
df = pd.DataFrame(students, index = ['a','b','c','d','e','f','g','h','i','j'])
#use strip to remove leading and trailing spaces from name column
df['name'] = df['name'].str.strip()
#sort name column by ascending order and score by descending order
df.sort_values(['name','score'],inplace=True, ascending = [True, False])
#Print dataframe
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
e      Emily    9.0         2      no
d      James    NaN         3      no
j      Jonas   19.0         1     yes
c  Katherine   16.5         2     yes
i      Kevin    8.0         2      no
h      Laura    NaN         1      no
g     Mathew   14.5         1     yes
f    Michael   20.0         3     yes

In [38]:
#print number of students whose scores were not recorded
df2 = df[df['score'].isnull()]['name'].tolist()
#Print name of students
print('Name of students:',df2)

Name of students: ['James', 'Laura']

In [52]:
#print number of students who attempted exam at least twice
df3 = df[df['attempts'] >= 2]['name'].tolist()
#Print name of students
print('Name of students:', df3)

Name of students: ['Dima', 'Emily', 'James', 'Katherine', 'Kevin', 'Michael']

In [81]:
#Print name and score of students who qualified at first attempt
df4 = df[(df['attempts'] == 1) & (df['qualify'] == 'yes')][(['name','score'])]
#Print name of students
print(df4)

        name  score
a  Anastasia   12.5
j      Jonas   19.0
g     Mathew   14.5

'export' is not recognized as an internal or external command,
operable program or batch file.